.cm-homepage-banner-container {
  background-image: url("../../assets/images/flight/Ellipse 2653.png");
  padding: 50px 0;
  background-position: 0 -300px;
  min-height: 700px;
  background-color: #f1f2f6;
}

.cm-homepage-banner-container h1 {
  font-size: 45px;
  font-weight: 700;
}

.cm-home-trav-container .cm-trav-img-item img {
  display: block;
  max-width: 100%;
}

.cm-home-feat-container {
  background-color: #f1f2f6;
}

.cm-home-feat-item {
  width: calc(25% - 30px);
  margin: 0 15px;
}

.cm-home-feat-item i {
  color: var(--tealCol);
  font-size: 24px;
}

.cm-home-feat-item .cm-feat-header {
  align-items: center;
  margin-bottom: 15px;
}

.cm-home-feat-item .cm-feat-header > p {
  font-size: 22px;
  padding-left: 15px;
  font-weight: 700;
}

.cm-exp-item {
  width: calc(33.33% - 30px);
  border-radius: 10px;
  margin: 0 15px 25px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  min-height: 300px;
}

.cm-exp-item .cm-content {
  padding: 10px;
  width: 100%;
  transition: all 300ms ease;
}

.cm-exp-item:hover .cm-content {
  padding: 15px 10px;
}

.cm-exp-item .cm-content h4 {
  font-size: 20px;
}
